:root{
    ---button-primary-color:E02C6D;
    ---regular-font-size: 1rem;
    ---color: #3A3A3A;
}

/* nav section start */

header{
    max-width: 1140px;
    margin: 0 auto;
}
.navbar{

    display: flex;
    align-items: center;
    justify-content: space-between;
    

}

.logo-text h3{
    font-size:1.5rem ;
    color: var(---color);
    font-weight: 600;
    color: var(---color);
}

.menu-item ul{
    display: flex;
    gap: 2rem;
    list-style-type: none;
}

.menu-item ul li a{
    text-decoration: none;
    color: var(---color);
    font-size: var(---regular-font-size);
}

/* nav section end */


/* banner section start */

.banner-section{
    display: flex;
    gap: 130px;
    align-items: center;
    justify-content: space-around;
    margin-top: 41px;
}

.banner-image-section{
    background-image: url(/images/Circle\ design.svg);
    
}

.banner-text-area h2{
    font-size: 3.25rem;
    margin: 0px;
    font-weight: 600;
    color: var(---color);
}
.banner-text-area p{
    font-size: var(---regular-font-size);
    margin-top: 1rem;
    margin-bottom: 1rem;
    font-weight: 600;
    color: var(---color);
}

.banner-section-button{
    font-size: var(---regular-font-size);
    background-color:#E02C6D ;
    border: none;
    color: white;
    padding: 10px 24px;
    border-radius: 41px;
    
}

/* banner section end */


/* main section start */

/* company logo section */
.company-logo-section{
    max-width: 1110px;
    margin: 70px auto 100px auto;
    border-color: var(---color);
}
.logo{
    display: flex;
    gap: 60px;
}


/* company logo section */