:root {
  ---button-primary-color: E02C6D;
  ---regular-font-size: 1rem;
  ---color: #3a3a3a;
}

/* nav section start */

header {
  max-width: 1140px;
  margin: 50px auto 0px auto;
}
.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-text h3 {
  font-size: 1.5rem;
  color: var(---color);
  font-weight: 600;
  color: var(---color);
}

.menu-item ul {
  display: flex;
  gap: 2rem;
  list-style-type: none;
}

.menu-item ul li a {
  text-decoration: none;
  color: var(---color);
  font-size: var(---regular-font-size);
}

/* nav section end */

/* banner section start */

.banner-section {
  display: flex;
  gap: 130px;
  align-items: center;
  justify-content: space-around;
  margin-top: 41px;
}

.banner-image-section {
  background-image: url(/images/Circle\ design.svg);
  background-repeat: no-repeat;
  background-size: cover;
}

.banner-text-area h2 {
  font-size: 3.25rem;
  margin: 0px;
  font-weight: 600;
  color: var(---color);
}
.banner-text-area p {
  font-size: var(---regular-font-size);
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-weight: 600;
  color: var(---color);
}

.banner-section-button {
  font-size: var(---regular-font-size);
  background-color: #e02c6d;
  border: none;
  color: white;
  padding: 10px 24px;
  border-radius: 41px;
}

/* banner section end */

/* main section start */

/* company logo section start */
.company-logo-section {
  max-width: 1110px;
  margin: 70px auto 100px auto;
  border-color: var(---color);
}
.logo {
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 60px;
  padding: 35px;
}

/* company logo section end */

/* Popular Collection section start */

.PopularCollection {
  max-width: 1050px;
  margin: 0 auto;
}

.PopularCollection h3 {
  font-size: 1.75rem;
  color: var(---color);
  font-weight: 500;
  text-align: center;
  margin-bottom: 30px;
}

.card-container {
  width: 100%;
  max-width: 1050px;
  margin: 0px auto 100px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.card {
  width: 330px;
  height: 420px;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 5px rgb(176, 165, 165);
  padding: 15px;
  border-radius: 7px;
  text-align: left;
}

/* .card {
  padding: 15px;
  border-radius: 7px;
} */

.card h3,p {
  text-align: left;
  margin: 0px;
}
/* Popular Collection section end */


/* Featured-products section start */

.Featured-products{
  display: flex;
  justify-content:space-around;
  max-width: 1110px;
  margin: 0 auto;
  gap: 90px;
}
.Featured-products-image img{
  width: 100%;
}

.Featured-products-text-area{
  max-width: 600px;
}

.Featured-products-text-area h3{
  font-size: 28px;
  font-weight: 600;
  color: #0A0826;
}

.Featured-products-text-area p{
  font-size: 16px;
  font-weight: 600;
  color: #0A0826;
  margin: 16px auto;
}

.Featured-products-button{
  padding: 10px 25px;
  background-color: #E02C6D;
  color: white;
  font-weight: 600;
}



/* Featured-products section end */


/* Responsiveness */

@media screen and (max-width: 576px){

  .navbar{
    flex-direction: column;
    gap: 20px;
  }

  .banner-section{
    flex-direction: column-reverse;
    padding: 30px;
  }
  
  .logo{
    grid-template-columns: repeat(4,1fr);
  }

  .card-container {
  grid-template-columns: repeat(1, 1fr);
  margin: 0px auto 40px auto;
  }

  .Featured-products{
  flex-direction: column-reverse;
  padding:30px;
  margin:0px;
  gap: 30px;
}
.Featured-products-text-area{
  text-align: center;
}

.card{
  margin: 0 auto;
}

 /* .PopularCollection {
  width: 100%;
  align-items: center;
  
  
} */


}